<h2 class="page-heading-left">Invoice#: <%= @invoice.id %></h2>
<h3>Order Ref#: <%= @order.id %></h3>

<%= form_tag(invoice_items_path, method: :patch) do %>
  <%= hidden_field_tag 'invoice', @invoice.id %>
  <% @invoice_items.each do |invoice_item| %>
    <div class="invoice-item invoice-edit-item">
      <p class="invoice-edit-item-name"><%= invoice_item.order_item.name.capitalize %></p>
      <%= number_field_tag invoice_item.id, invoice_item.quantity, min: 0, max: (invoice_item.quantity + invoice_item.order_item.inventory_item.quantity), class: "invoice-edit-field margin-zeroer" %>
      <%= label_tag (:quantity), nil, class: "invoice-edit-field" %>
      <p class="invoice-edit-field">Ordered: <%= invoice_item.order_item.quantity %></p>
    </div>
  <% end %>
  <%= submit_tag("Submit") %>
<% end %>
