<div class="invoice-container">
  <% if current_user.supplier_worker? && !@order.shipped? %>
    <%= button_to "SHIP", order_path(@order), method: :patch, form_class: "invoice-ship-btn" %>
  <% end %>
  <%= image_tag("truck.svg", class: "order-shipped-img hidden") %>
  <p>Invoice#: <%= @invoice.id %></p>
  <p>Order#: <%= @invoice.order_id %></p>


  <p>Items</p>
  <section class='invoice-section'>
    <table class="invoice-items-table">
      <col class="column-invoice-item-name"/>
      <col class="column-invoice-item-price"/>
      <col class="column-invoice-item-quantity"/>
      <col class="column-invoice-item-subtotal"/>
      <col class="column-invoice-item-difference"/>

      <tr class="invoice-item-table-heading-row">
        <th class="cell-invoice-item-name">Name</th>
        <th class="cell-invoice-item-price">Price</th>
        <th class="cell-invoice-item-quantity">Quantity</th>
        <th class="cell-invoice-item-subtotal">Subtotal</th>
        <th class="cell-invoice-item-difference">Difference</th>
      </tr>

      <% @invoice_items.each do |invoice_item| %>
        <tr class="invoice-item">
          <td class="cell-invoice-item-name"><%= invoice_item.order_item.name.capitalize %></td>
          <td class="cell-invoice-item-price"><%= invoice_item.formatted_price %></td>
          <td class="cell-invoice-item-quantity"><%= invoice_item.quantity %></td>
          <td class="cell-invoice-item-subtotal"><%= invoice_item.formatted_subtotal %></td>

          <% if invoice_item.delta_is_positive? %>
            <td class="cell-invoice-item-difference positive-delta">
            +<%= invoice_item.delta %>
            </td>
          <% elsif invoice_item.delta_is_negative? %>
            <td class="cell-invoice-item-difference negative-delta">
            -<%= invoice_item.delta %>
            </td>
          <% else %>
            <td class="cell-invoice-item-difference">
            <%= invoice_item.delta %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </section>




</div>
