<h1><%= @supplier.name %></h1>
<h1>InventoryItems</h1>

<%= form_for @order do |f| %>
  <div class="field">
     <%= f.hidden_field :supplier_id, value: @supplier.id %>
     <%= f.submit "Place Order" %>

  </div>
<% end %>

<div class="inventory">
  <ul>
    <% @inventory_items.each do |inventory_item| %>
      <li>
        <%= inventory_item.item.name %>
        <%= inventory_item.quantity %>
        <%= inventory_item.price %>
      </li>
    <% end %>
  </ul>
</div>
