<div class="inventory-items-index-container">
  <h1 class="page-heading-left"><%= @supplier.name %></h1>
  <div class="inventory-search-bar">
    <%= text_field_tag :inventory_item_search, "", options = {placeholder: "Search...", data: @supplier.id} %>
    <%= link_to "Add New Product", supplier_inventory_items_path(@supplier), class: "new_inventory_item_btn" %>
  </div>
  <% if current_user.restaurant_worker? %>
    <%= form_for @order do |f| %>
      <div class="field">
         <%= f.hidden_field :supplier_id, value: @supplier.id %>
         <%= f.submit "Place Order" %>
      </div>
    <% end %>
  <% end %>

  <div class="inventory">
    <table class="inventory-item-table">
      <col class="column-name"/>
      <col class="column-price"/>
      <col class="column-quantity"/>
      <col class="column-edit"/>
      <tr class="inventory-item-column-headings">
        <th>Name</th>
        <th class="cell-price">Price</th>
        <th class="cell-quantity">Qty</th>
        <th></th>
      </tr>
      <% @inventory_items.each do |inventory_item| %>
        <tr>
          <td><%= inventory_item.item.name %></td>
          <td class="cell-price"><%= inventory_item.formatted_price %></td>
          <td class="cell-quantity"><%= inventory_item.quantity %></td>
          <% if current_user.suppliers.include?(@supplier) %>
            <td class="cell-edit"><%= link_to "Edit", edit_supplier_inventory_item_path(@supplier, inventory_item), class: "edit-inventory-item-btn" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="edit-inventory-item-modal hidden">
</div>
<div class="inventory-item-suggestion-modal hidden">
</div>
