<!DOCTYPE html>
<html>
<head>
  <title>Avocado</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div class="main-container">
      <div class="splash-nav">
        <span class="splash-nav-links"><%= link_to "Log In", new_user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %></span>
      </div>

      <div class="title-content">
        <div class="splash-image">
          <%= image_tag("vegetablesontable.jpg", class: 'main-image') %>
        </div>
        <div class="splash-title-div">
          Avocado
        </div>
      </div>
    </div>
  </body>
</html>
