<!DOCTYPE html>
<html>
<head>
  <title>Orderin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="home-body">
    <nav class="splash-nav"><span class="splash-nav-links"><%= link_to "Log In", new_user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %></span></nav>
      <h1 class="splash-title">Avocado</h1>
      <p class="splash-tag">We facilitate your ordering and invoicing process.</p>
  </div>
</body>
</html>
