<p class="deliveries-modal-close-btn">X</p>
<ul class="deliveries">
  <% @orders.each do |order| %>
    <li class="delivery">
      <p>Supplier: <%= order.supplier.name %></p>
      <p>Restaurant: <%= order.restaurant.name %></p>
      <p>Invoice #<%= order.invoice.id %></p>
      <p>Order #<%= order.id %></p>
      <p class="delivery-total">Total: $<%= order.invoice.total %></p>
      <p class="delivery-date">Delivery date: <%= order.delivery_date.strftime("%a, %b %d, %Y") %>
        <%= button_to "RECEIVE ORDER", order_path(order), method: :patch, form_class: "invoice-receive-btn" %>
        <%= image_tag("gift.svg", class: "order-received-img", title: "Delivered") %>
      </p>
    </li>
  <% end %>
</ul>
