<% @orders.each do |order| %>
  <div class="order-display">

      <% if current_user.restaurant_worker? %>
        <% if order.invoiced? %>
          <%= link_to "Order##{order.id}", order_invoice_path(order, order.invoice) %>
        <% else %>
          <%= link_to "Order##{order.id}", order_path(order) %> - <%= link_to "Edit", edit_order_path(order) %>
        <% end %>
      <% elsif current_user.supplier_worker? %>
        <% if order.invoiced? %>
          <%= link_to "Order##{order.id}", order_invoice_path(order, order.invoice) %>
        <% elsif order.has_incomplete_invoice? %>
          <%= link_to "Order##{order.id}", order_path(order) %> - <%= link_to "Edit Invoice", edit_order_invoice_path(order, order.invoice) %>
        <% elsif order.has_no_invoice? %>
          <%= link_to "Order##{order.id}", order_path(order) %> - <%= link_to "Create Invoice", order_invoices_path(order), method: :post %>
        <% end %>
      <% end %>

      <div class="container-statuses">
        <% if order.completed? %>
          Completed!
        <% else %>
          <% if order.seen? %>
            <%= image_tag("eyeball.svg", class: "icon icon-eyeball", title: "Seen by supplier") %>
          <% end %>
          <% if order.invoiced? %>
            <%= image_tag("clipboard.svg", class: "icon icon-clipboard", title: "Invoiced") %>
          <% end %>
          <% if order.shipped? %>
            <%= image_tag("truck.svg", class: "icon icon-truck", title: "Shipped") %>
          <% end %>
          <% if order.received? %>
            <%= image_tag("gift.svg", class: "icon icon-gift", title: "Received") %>
          <% end %>
          <% if order.paid? %>
            <%= image_tag("dollar.svg", class: "icon icon-dollar", title: "Paid") %>
          <% end %>
        <% end %>
      </div>

    <p> Restaurant: <%= order.restaurant.name %></p>
    <p> Supplier: <%= link_to order.supplier.name, supplier_path(order.supplier) %></p>
    <p> Delivery Date: <%= order.delivery_date.to_date.strftime("%a, %b %d, %Y") if order.delivery_date.present? %></p>
    <p> Total: $<%= order.formatted_total %></p>
  </div>
<% end %>
