<p class="supplier-order-modal-close-btn">X</p>
<p>
  <% if @order.invoiced? %>
    <%= link_to "Order##{@order.id}", order_invoice_path(@order, @order.invoice) %>
  <% elsif @order.has_incomplete_invoice? %>
    <%= link_to "Order##{@order.id}", order_path(@order) %> - <%= link_to "Edit Invoice", edit_order_invoice_path(@order, @order.invoice) %>
  <% elsif @order.has_no_invoice? %>
    <%= link_to "Order##{@order.id}", order_path(@order) %> - <%= link_to "Create Invoice", order_invoices_path(@order), method: :post %>
  <% end %>
</p>
<p><span class="subheading-bold">Delivery Date:</span> <%= @order.delivery_date.to_date.strftime("%a, %b %d, %Y") %></p>
<p><span class="subheading-bold">Restaurant:</span> <%= @order.restaurant.name %></p>
<p><span class="subheading-bold">Phone:</span> <%= @order.restaurant.phone %></p>
<p><span class="subheading-bold">Address:</span> <%= @order.restaurant.street_address %></p>
<p><span class="subheading-bold">Total:</span> <%= @order.formatted_total %></p>
<p><span class="subheading-bold">Instructions:</span> <%= @order.instructions %></p>
