<h1>Edit Order</h1>
<!--nav will probably be in layout?  -->
<nav>
  <!-- Nav options: home and cancel order -->
</nav>
<div class="order-info">
  <h3> Supplier: <%= @order.supplier.name %></h3>
  <h3>Restaurant: <%= @order.restaurant.name %></h3>
  <h3>Ordererer: <%= @order.user.email %>
</div>

<main id="order-edit">
  <section class='inventory-section order-item-droppable'>
    <div class="inventory-search-bar">
      <%= text_field_tag :inventory_search %>
    </div>
    <div class="inventory">
      <ul class="inventory-items">
        <%= render @inventory_items %>
      </ul>
    </div>
  </section>

  <aside class="order-summary inventory-item-droppable">
    <h3>Order Summary</h3>
    <div class="order-details">
      <%= render @order %>
    </div>

    <div class="order-instructions">
      <%= form_for @order do |f| %>
        <div class="field">
          <%= f.label :instructions %>
          <%= f.text_area :instructions %>
        </div>

        <div class="field">
          <%= f.label :delivery_date %>
          <%= f.date_select :delivery_date %>
        </div>

        <div class="actions">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </aside>
</main>
