<h1 class="page-heading-left">Order#: <%= @order.id %></h1>

<div class="order-info">
  <h3 class="minor-heading">Supplier: <%= @order.supplier.name %></h3>
  <h3 class="minor-heading">Restaurant: <%= @order.restaurant.name %></h3>
  <h3>Orderer: <%= @order.user.email %>
</div>

<div id="order-edit">
  <section class='inventory-section order-item-droppable'>
    <div class="inventory-search-bar">
      <%= text_field_tag :inventory_search, "", options = {placeholder: "Search...", data: @order.id} %>
    </div>
    <div class="inventory">
      <table class="inventory-items">
        <col class="column-inv-name"/>
        <col class="column-inv-price"/>
        <col class="column-inv-quantity"/>
        <col class="column-order-item-form"/>

        <tr class="inventory-item-table-heading-row">
          <th class="cell-inv-name">Name</th>
          <th class="cell-inv-price">Price</th>
          <th class="cell-inv-quantity">Quantity</th>
          <th class="cell-order-item-form">Add</th>
        </tr>
        <%= render @inventory_items %>
      </table>
    </div>
  </section>

  <aside class="order-summary inventory-item-droppable">
    <h3>Order Summary</h3>
    <div class="order-details">
      <%= render @order %>
    </div>

    <div class="order-instructions">
      <%= form_for @order do |f| %>
        <div class="field">
          <%= f.label :instructions %>
          <%= f.text_area :instructions %>
        </div>

        <div class="field">
          <%= f.label :delivery_date %>
          <%= f.date_select :delivery_date, start_year: Date.today.year %>
        </div>

        <div class="actions">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </aside>
</div>
