<h1>Edit Order</h1>
<!--nav will probably be in layout?  -->
<nav>
  <!-- Nav options: home and cancel order -->
</nav>
<div class="order-info">
  <h1> Supplier: <%= @order.supplier.name %></h1>
  <h1>Restaurant: </h1>
  <!--user name  -->
</div>

<main id="order-edit">
  <section class='inventory-section'>
    <div class="inventory">
      <ul class="inventory-items">
        <%= render @inventory_items %>
      </ul>
    </div>
  </section>

  <aside class="order-summary">
    <h3>Order Summary</h3>
    <div class="order-details">
      <%= render @order %>
    </div>

    <div class="order-instructions">
      <%= form_for @order do |f| %>
        <div class="field">
          <%= f.label :instructions %>
          <%= f.text_area :instructions %>
        </div>

        <div class="field">
          <%= f.label :delivery_date %>
          <%= f.date_select :delivery_date %>
        </div>

        <div class="actions">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </aside>
</main>
