<ul>
  <% @orders.each do |order| %>
    <li class="order-index-order">
      <% if current_user.restaurant_worker? %>
        <% if order.invoiced? %>
          <%= link_to "Order##{order.id}", order_invoice_path(order, order.invoice) %>
        <% else %>
          <%= link_to "Order##{order.id}", order_path(order) %> - <%= link_to "Edit", edit_order_path(order) %>
        <% end %>
      <% elsif current_user.supplier_worker? %>
        <% if order.invoiced? %>
          <%= link_to "Order##{order.id}", order_invoice_path(order, order.invoice) %>
        <% elsif order.has_incomplete_invoice? %>
          <%= link_to "Order##{order.id}", order_path(order) %> - <%= link_to "Edit Invoice", edit_order_invoice_path(order, order.invoice) %>
        <% elsif order.has_no_invoice? %>
          <%= link_to "Order##{order.id}", order_path(order) %> - <%= link_to "Create Invoice", order_invoices_path(order), method: :post %>
        <% end %>
      <% end %>

      <span class="order-status">
        <% if order.completed? %>
          Completed!
        <% else %>
          <% if order.seen? %>
            Seen!
          <% end %>
          <% if order.invoiced? %>
            Invoiced!
          <% end %>
          <% if order.shipped? %>
            Shipped!
          <% end %>
          <% if order.received? %>
            Received!
          <% end %>
          <% if order.paid? %>
            Paid!
          <% end %>
        <% end %>
      </span>

      <p>To: <%= order.restaurant.name %></p>
      <p> From: <%= order.supplier.name %></p>
      <p>$<%= order.formatted_total %></p>
    </li>
  <% end %>
</ul>
