<h1>
  Order Number: <%= @order.id %>
  <% if @order.completed? %>
    Completed!
  <% else %>
    <% if @order.seen? %>
      <%= image_tag("eyeball.svg", class: "icon icon-eyeball", title: "Seen by the supplier") %>
    <% end %>
    <% if @order.invoiced? %>
      <%= image_tag("clipboard.svg", class: "icon icon-clipboard", title: "Invoiced") %>
    <% end %>
    <% if @order.shipped? %>
      <%= image_tag("truck.svg", class: "icon icon-truck", title: "Shipped") %>
    <% end %>
    <% if @order.received? %>
      <%= image_tag("gift.svg", class: "icon icon-gift", title: "Delivered") %>
    <% end %>
    <% if @order.paid? %>
      <%= image_tag("dollar.svg", class: "icon icon-dollar", title: "Paid") %>
    <% end %>
  <% end %>
</h1>
<% if current_user.supplier_worker? %>
  <%= link_to "Create Invoice", order_invoices_path(@order), method: :post %>
<% end %>
<%= render @order %>
