<p class="permissions-modal-close-btn">X</p>
<%= form_for @permission, method: :post do |f| %>
  <h3>Add employee</h3>
  <%= f.label "User Email:" %>
  <%= f.text_field :user_id, placeholder: "example@email.com" %>
  <%= f.hidden_field :institution_id, value: @restaurant.id %>
  <%= f.hidden_field :institution_type, value: "Restaurant" %>
  <%= f.select :role_id, options_for_select([['Master', Role.find_by(name: "master").id], ['Privileged', Role.find_by(name: "privileged").id], ['Restricted', Role.find_by(name: "restricted").id]]) %>
  <%= f.submit class: "permission-submission" %>
<% end %>
