<h3 class="page-heading-left">Manage Permissions</h3>
<div class="permission-accordion">
  <% @permissions.each do |permission| %>
    <% if current_user.restaurant_master_this?(permission.restaurant) %>
      <h3><%= permission.restaurant.name %></h3>
      <div>
        <ul class="permission-users">
          <% permission.restaurant.users.each do |user| %>
            <li class="permission-user" data-permission-id="<%= Permission.find_by(user_id: user.id, institution_id: permission.restaurant.id, institution_type: "Restaurant").id %>">
              <!-- This is a mess -->
              <p><%= user.email %> -
                <%= user.clearance(permission.restaurant) %>
                <% unless current_user.id == user.id %>
                  <%= link_to image_tag("pencil.svg", class: "permission-edit-icon"), edit_permission_path(user.permissions.find_by(institution_id: permission.restaurant.id, institution_type: "Restaurant")), options = {class: "permission-edit-button"} %>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
        <p class="permission-new"><%= link_to image_tag("plus.svg"), permissions_path, method: :post, class: "permission-new-btn", data: permission.restaurant.id %></p>
        <%= image_tag("remove.svg", class: "permission-remove-icon") %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="permissions-modal hidden">
</div>
