<li class="order-item order-item-draggable">
  <%= order_item.name %>
  <div class="order-item-right">
    <span class='order-item-price'><%= order_item.formatted_price %></span>
    <% if !order_item.order.invoiced? %><span class='order-item-quantity'><% else %><span class='order-item-quantity-invoiced'><% end %><%= order_item.quantity %></span>
    <div class='edit-icon-container'><% if !order_item.order.invoiced? %><span class='edit-icon hidden'>E</span><% end %></div>
    <% if !order_item.order.invoiced? %>
      <%= form_for order_item, html: {class: 'hidden edit_order_item', data: order_item.order.id} do |f| %>
        <%= f.number_field :quantity, options = {min: 0, max: (order_item.inventory_item.quantity + order_item.quantity)} %>
        <%= f.submit "+" %>
      <% end %>
    <% end %>
    <span class='order-item-subtotal'><%= order_item.formatted_subtotal %></span>
    <% if !order_item.order.invoiced? %>
      <%= link_to "X", order_item_path(order_item), method: :delete, class: 'order-item-delete', data: order_item.order.id %>
    <% end %>
  </div>
</li>
