<tr class="order-item order-item-draggable">
  <td class="cell-order-item-name"><%= order_item.name %></td>

    <td class='cell-order-item-price'><%= order_item.formatted_price %></td>

    <% if !order_item.order.invoiced? %>
      <td class='cell-order-item-quantity'><span class='order-item-quantity-value'><%= order_item.quantity %></span>
        <%= form_for order_item, html: {class: 'hidden edit_order_item', data: order_item.order.id} do |f| %>
          <%= f.number_field :quantity, options = {min: 0, max: (order_item.inventory_item.quantity + order_item.quantity)} %>
          <%= f.submit "+" %></td>
        <% end %>
    <% else %>
      <td class='cell-order-item-quantity-invoiced'><%= order_item.quantity %></td>
    <% end %>

    <td class='cell-order-item-edit'><% if !order_item.order.invoiced? %><span class='edit-icon hidden'>E</span><% end %></td>


    <td class='cell-order-item-subtotal'><%= order_item.formatted_subtotal %></td>

    <td class="cell-order-item-close"><% if !order_item.order.invoiced? %>
      <%= link_to "X", order_item_path(order_item), method: :delete, class: 'order-item-delete', data: order_item.order.id %>
    <% end %></td>
</tr>
