<main class="supplier-show-body">
  <h2><%= @supplier.name %></h2>
    <% if current_user.restaurant_orderer? %>
      <%= button_tag "Place Order", options = {class: "supplier-order-button", data: @supplier.id} %>
    <% end %>
    <% if @supplier.is_master?(@user) %>
      <%= link_to "Add Inventory Item", new_supplier_inventory_item_path(@supplier) %>
    <% end %>
    <div class=supplier-show-contact>
      <p><%= @supplier.street_address %></p>
      <p><%= @supplier.phone %></p>
    </div>
    <div class="supplier-show-inventory">
    <ul>
      <% @inventory_items.each do |inventory_item| %>
        <li>
          <strong><%= inventory_item.name.capitalize %></strong> - $<%= inventory_item.formatted_price %>. Quantity: <%= inventory_item.quantity %>
          <% if @supplier.is_master?(@user) %>
            <%= link_to "Edit", edit_supplier_inventory_item_path(@supplier, inventory_item) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="supplier-order-modal">
    <%= form_for @order, method: :post do |f| %>
      <%= f.hidden_field :supplier_id, value: params[:id] %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.select :restaurant_id, options_from_collection_for_select(@restaurants, "id", "name"), {}, class: "supplier-show-select" %>
      <%= f.submit "Order", options = {class: "supplier-show-select-submit"} %>
    <% end %>
  </div>
</main>
