<main class="supplier-show-body">
  <h2><%= @supplier.name %></h2>

  <div class="supplier-show-container">
    <% if current_user.restaurant_orderer? %>
    <%= button_tag "Place Order", options = {class: "supplier-order-btn", data: @supplier.id} %>
    <% end %>
    <div class=supplier-show-contact>
      <p><%= @supplier.street_address %></p>
      <p><%= @supplier.phone %></p>
    </div>
    <div class="supplier-show-inventory">

      <table class="inventory-items">
        <col class="column-inv-name"/>
        <col class="column-inv-price"/>
        <col class="column-inv-quantity"/>

        <tr class="inventory-item-table-heading-row">
          <th class="cell-inv-name">Name</th>
          <th class="cell-inv-price">Price</th>
          <th class="cell-inv-quantity">Quantity</th>
        </tr>
        <% @inventory_items.each do |inventory_item| %>
          <tr class='inventory-item'>
            <td class="cell-inv-name"><%= inventory_item.name %></td>
            <td class="cell-inv-price"><%= inventory_item.formatted_price %></td>
            <td class="cell-inv-quantity"><%= inventory_item.quantity %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="supplier-order-modal">
    <%= form_for @order, method: :post do |f| %>
      <%= f.hidden_field :supplier_id, value: params[:id] %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.select :restaurant_id, options_from_collection_for_select(@restaurants, "id", "name"), {}, class: "supplier-show-select" %>
      <%= f.submit "Order", options = {class: "supplier-show-select-submit"} %>
    <% end %>
  </div>
</main>
