<!DOCTYPE html>
<html>
<head>
  <title>Orderin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag "chartkick" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1 class='title'>Avocado</h1>
    <div class="session-status">

      <% if user_signed_in? %>
        <p>
          Welcome, <%= current_user.email %>
        </p>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </div>
  </header>

  <nav>
    <% if user_signed_in? %>
      <% if current_user.restaurant_worker? %>
        <p class="nav-link"><%= link_to "Home", user_path(current_user) %></p>
        <p class="nav-link"><%= link_to "View Orders", orders_path %></p>
        <p class="nav-link"><%= link_to "Browse Suppliers", suppliers_path %></p>
        <p class="nav-link"><%= link_to "Browse Products", items_path %></p>
        <% if current_user.restaurant_master? %>
          <p class="nav-link"><%= link_to "Access Manager", permissions_path %></p>
        <% end %>
        <p class="nav-link"><%= link_to "Add Restaurant", new_restaurant_path %>
        <p class="nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
      <% elsif current_user.supplier_worker? %>
        <p class="nav-link"><%= link_to "Home", user_path(current_user) %></p>
        <p class="nav-link"><%= link_to "View Orders", orders_path %></p>
        <p class="nav-link"><%= link_to "Inventory", supplier_inventory_items_path(current_user.suppliers.first) %>
        <p class="nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p class="nav-link"><%= link_to "Home", user_path(current_user) %></p>
        <p class="nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
      <% end %>
    <% end %>
  </nav>

  <main>
    <% if flash[:notice] %>
      <p id='notice'>
        <%= flash[:notice] %>
      </p>
    <% end %>
    <% if flash[:alert] %>
      <p id='alert'>
        <%= flash[:alert] %>
      </p>
    <% end %>
    <% if flash[:error] %>
      <p id='error'>
        <%= flash[:error] %>
      </p>
    <% end %>

  <%= yield %>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>
