<!DOCTYPE html>
<html>
<head>
  <title>Avocado</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag "chartkick" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_maps_api_key"] %>"
    async defer></script>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <header>
    <%= link_to root_path do %>
      <h1 class='title'>Avocad</h1><%= image_tag("avocado.png", class: "header-avocado") %>
    <% end %>
    <div class="session-status">

      <% if user_signed_in? %>
        <p>
          Welcome, <%= current_user.email %>
        </p>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </div>
  </header>

  <nav>
    <% if user_signed_in? %>
      <% if current_user.restaurant_worker? %>
        <p class="nav-link"><%= link_to "Home", user_path(current_user) %></p>
        <p class="nav-link"><%= link_to "Deliveries", deliveries_path, class: "deliveries-link" %> (<span class="delivery-count" data=<%=current_user.deliveries_count%>><%= current_user.deliveries_count %></span>)</p>
        <p class="nav-link"><%= link_to "View Orders", orders_path %></p>
        <p class="nav-link"><%= link_to "View Invoices", invoices_path %></p>
        <p class="nav-link"><%= link_to "Browse Suppliers", suppliers_path %></p>
        <p class="nav-link"><%= link_to "Browse Products", items_path %></p>
        <% if current_user.restaurant_master? %>
          <p class="nav-link"><%= link_to "Access Manager", permissions_path %></p>
        <% end %>
        <p class="nav-link restaurant-creation"><%= link_to "Add Restaurant", new_restaurant_path %></p>
        <p class="nav-link"><%= link_to "Credits", credits_path %></p>
        <p class="nav-link"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
      <% elsif current_user.supplier_worker? %>
        <p class="nav-link"><%= link_to "Home", user_path(current_user) %></p>
        <p class="nav-link"><%= link_to "View Orders", orders_path %></p>
        <p class="nav-link"><%= link_to "View Invoices", invoices_path %></p>
        <p class="nav-link"><%= link_to "Inventory", supplier_inventory_items_path(current_user.suppliers.first) %>
        <p class="nav-link"><%= link_to "Credits", credits_path %></p>
        <p class="nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p class="nav-link"><%= link_to "Home", user_path(current_user) %></p>
        <p class="nav-link"><%= link_to "Credits", credits_path %></p>
        <p class="nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
      <% end %>
    <% end %>
  </nav>

  <main>

    <%= yield %>
    <div class="deliveries-modal hidden"></div>
    <div class="signup-modal"></div>
  </main>
</body>
</html>
